#left_section, #search_part, #servicesSurvey { display:none; }
body, html { width:100%; margin:0px; padding:0px; } 
#slider_banner {  width:100% !important; display: none;}
.main-page {  width:900px !important; }
.site {max-width: 100%;}
a:link:after, a:visited:after { content: ""; } 

.main-page, #main {  width:900px !important; }
.wpthemeSecondaryContainer { float:right; }
.aboutNavContainer {display:block !important; }
.aboutNavContainer {
    z-index: 5;
    position: relative;
    right: auto;
    margin-top: auto;
    width: auto;
	float:left;
}

#readMe { width:900px !important; overflow:hidden !important; }
#readMe .site, #readMe .service-container  { width:900px !important;  overflow:hidden;} 
#readMe .row  {width:100%; }
.col-lg-2, .col-md-2, .col-sm-2 {
	width: 19% !important; 
}
.col-lg-3, .col-md-3, .col-sm-3 {
	width: 24% !important; 
}
.col-lg-4, .col-md-4, .col-sm-4 {
	width: 32%;
}
.col-lg-5, .col-md-5, .col-sm-5 {
	width: 40%;
}
.col-lg-6, .col-md-6, .col-sm-6 {
	width: 48% !important;
	float:left;
}
.col-lg-8, .col-md-8, .col-sm-8 {
	width: 68% !important; 
}
.col-lg-9, .col-md-9, .col-sm-9 {
	width: 74% !important; 
}
.col-lg-10, .col-md-10, .col-sm-10 {
	width: 79% !important; 
}
#readMe .grey-box { padding:0px 10px; }
#readMe .content h2 {padding:10px 25px; overflow:hidden; }
#readMe .service-container { padding:0px 20px; }
#readMe .service-container h3 { margin-right: 15px;}
.wpthemeLeft { width:20% !important; float:right;}
.wpthemeColCenter { width:50% !important; float:right; }
.wpthemeColCenter  .content { padding-right:50px !important;}
.wpthemeColRight { width:24% !important; float:left;}
.crumbTrail .wpthemeCrumbTrail {width:100%;}
#readMe .services-body-left {width:490px !important; float: right;  }
#readMe .services-body-right {width:390px !important; float: left; position: absolute; left:0; }
header .main_nav_part_bg, .footernav, .vrStepsProcess {display:none; }
@media screen and (max-width: 1250px){
.aboutNavContainer {display:block;}
}
.popular-services .btn-default:nth-child(odd) { margin-left:5px; }
.popular-services .btn-default { width:200px;}
.travel-info .travel-info-list li a { width:100px;} 
#rtaCrumbs_top, #rtaCrumbs, .wpthemeCrumbTrail, .crumbTrail, #rtaCrumbs .site{width: 700px !important;}
#main .col-lg-4, #main .col-md-4, #main .col-sm-4 { float:right; }